{{> nav}}
<form class='form' action='/students/add' method='post'>
<div class="form-container">
	<div class='input-container'>
		<label for='name' class='form-item'>
			Name:
            </label>
			<input type='text' name='name' value='' class="input"/>
	</div>
	<div class='input-container'>
		<label for='favouriteAnimal' class='form-item'>
			Favourite Animal:
            </label>
			<input type='text' name='favouriteAnimal' value='' class="input" />
	</div>
	<div class='input-container'>
		<label for='blog' class='form-item'>
			Blog Link:
            </label>
			<input type='text' name='blog' value='' class="input"/>
	</div>
	<input type='submit' name='' value='Submit' class='btn' />
    
</form>

<label for="">