<form class="form" action="/students/add" method="post">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="">
  </label>
  
  <label for="favouriteAnimal" class="form-item">
    Favourite Animal:
    <input type="text" name="favouriteAnimal" value="">
  </label>
  
  <label for="blog" class="form-item">
    Blog Link:
    <input type="text" name="blog" value="">
  </label>
  
  <input type="submit" name="" value="Submit">
</form>