<form class="form" action="/students/{{id}}/edit" method="post">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
  <label for="favouriteAnimal" class="form-item">
    Favourite Animal:
    <input type="text" name="favouriteAnimal" value="{{favouriteAnimal}}">
  </label>
  
  <label for="blog" class="form-item">
    Blog Link:
    <input type="text" name="blog" value="{{blog}}">
  </label>
  
  <input type="submit" name="" value="Submit">
</form>