<div class="container">
  {{#each students}}
    <div class="student-list">
      <a href="/students/{{id}}" alt="{{name}}" class="link">
        <p>{{name}}</p>
        <div class='img-circle'> 
        <img src="{{image}}">
        </div>
      </a>
    </div>
  {{/each}}
</div>
<div class="button-container">
  <a href="/students/add">
    <button class="btn">Add student</button>
  </a>
  </div>